@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap%27');
*{
    background-color: #131313;
    font-family: 'Righteous', sans-serif;
    color: gray;
}
p, h1, h2{
    color: white;
}

form{
    text-align: center;
}
input{
    text-align: center;
}
header>div>img{
    width: 250px;
    height: 160px;
    text-align: center;
}
header>div{
    bottom: 50px;
    text-align: center;
    position: relative;
}

header{
    height: 100px;
}
main{
    display: flex;
    justify-content: space-around;
}
